.idea/*
cmake-build-debug/*
cmake-build-release/*
.vscode/*

build/*
docs/doctrees
docs/source/materials/*

*.o
*.d
main_exe
main_exe.d

.DS_Store
common.h

.mypy_cache
.pytest_cache
__pycache__
*.pyc
Pipfile.lock
