[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pyrr = "*"
glfw = "==2.5.0"
PyOpenGL = "==3.1.5"
pillow = "*"
open3d = "*"

[dev-packages]
yapf = "*"
flake8 = "*"
mypy = "*"
isort = "*"
pytest = "*"

[requires]
python_version = "3.8"
